<h1>Chart show</h1>
<div id="chartdiv"></div>
<div id="chartcontrols"></div>
<%= javascript_pack_tag 'amcharts', 'data-turbolinks-track': 'reload' %>
<style>
#chartdiv {
  width: 100%;
  height: 600px;
  max-width: 100%;
}
</style>
